.App {
  text-align: center;
}
h1 {
  color: rgb(255, 242, 242);
  text-align: center;
  background: url('https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 70px;
  
}

.nav-wrapper {
  background: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGZ1bm55JTIwcGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;;
  font-size: 30px;
  font-weight: 900;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1%;
  
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-btn {
  padding: 5%;
  text-decoration: none;
  color: white;
  
}

.order-btn {
  color: white;
  padding: 5%;
  text-decoration: none;
}

.top-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  padding: 2% 4%;
}

button {
  background: url('https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  opacity: 0.8;
  font-size: 50px;
  font-weight: 900;
  color: black;
  background-color: rgb(224, 39, 39);
  margin: 5%;
  padding: 4%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}

.top-container {
  background-color: rgb(49, 47, 47);
  color: white;
  margin: 3%;
}

.end-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0% 4%;
  justify-content: center;
  background-color: rgb(49, 47, 47);
}


img {
  width: 25%;
  height: auto;
  margin: 3%;
}

h2 {
  text-align: center;
}

h3 {
  
  text-align: center;
  font-size: 40px;
  padding: 3%;
}
.inputs {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 30px;
  padding: 0% 10%;
  background: rgb(49, 47, 47);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#name-input {
  padding: 3%;
}

.email-input {
  padding: 3%;
}

#size-dropdown {
  padding: 3%;
}

.pepperoni {
  padding: 3%;
}

.pineapple {
  padding: 3%;
}

.cheese {
  padding: 3%;
}

.veggies {
  padding: 3%;
}

#special-text{
  padding: 3%;
}

